body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: "VT323", monospace;
    background-color: #414141;
    overflow-y: hidden;
}
#game-borad{
    display: grid;
    grid-template-columns: repeat(20, 20px);
    grid-template-rows: repeat(20, 20px);
    border-radius: 100px;
    margin: 5px;

}
.game-border-1{
    border: solid 10px #595f43;
    border-radius: 30px;
    box-shadow: inset 0 0 0 10px #595f43;
}
.game-border-2{
    border: solid 8px #abb78a;
    border-radius: 26px;
    box-shadow: inset 0 0 0 10px #abb78a;
}
.game-border-3{
    border: solid 30px #8b966c;
    border-radius: 20px;
    box-shadow: inset 0 0 0 5px #8b966c;
}
.start-text{
    color: #333;
    width: 300px;
    text-transform: capitalize;
    text-align: center;
    margin: 0;
    padding: 30px;

}
.scores{
    display: flex;
    justify-content: space-between;
}
#score {
    color: #abb78a;
}
#hightScore{
    color: #d8ddca;
    display: none;
}
#score, #hightScore {
    font-size: 40px;
    font-weight: bolder;
    margin: 10px 0;
}
.game-border-3, #logo{
    background-color: #c4cfa3;
    margin-bottom: 0px;
}
.snake{
    border: #086810 3px solid;
    background-color: #0d9418;
    border-radius: 50%;
}
.food{
    background-color: #d43e3e;
    border: #691212 2px solid;
    border-radius: 50%;
    box-shadow: #d8ddca inset 1px 1px 1px;
    width: 12px;
    height: 12px;
}

.start-logo{
    position: absolute;
    top: 30%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

@media screen and (max-width: 768px) {
    body{
        height: 85vh;
    }
    #game-borad{
        grid-template-columns: repeat(20, 15px);
        grid-template-rows: repeat(20, 15px);
    }
    .start-text{
        font-size: 20px;
        width: 200px;
        padding: 10px;
    
    }
    #logo{
        width: 80%;
        margin-top: 1%;
    }
    .start-logo{
        top: 30vh;
        
    }

}
